

#header {
background-color: #ADD8E6;
margin-bottom: 10px;
}

#name {
float:Left;
font-size: 45px;
}

#email {
float:right;
font-size: 16px;
}

#phone {
float:right;
font-size: 16px;
}

.container {
  background-color: #D3D3D3;
}

