

#header {
background-color: #ADD8E6;
margin-bottom: 10px;
}

#name {
float:Left;
font-size: 45px;
}

#email {
float:right;
font-size: 16px;
padding-top: 5px;
}

#phone {
float:right;
font-size: 16px;
}

.left {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 10%;
	height: 400px;
	background-color: #18329B;
	margin-bottom: 10px;
}

.container {
  background-color: #D3D3D3;
}

