


#header {
background-color: #ADD8E6;
margin-top: -20px;
height: 120px;
margin-bottom: 10px;
}



.name {
float:Left;
font-size: 50px;
}



.email {
font-size: 16px;
}



.phone {
font-size: 16px;
}
