/* Polygon 7 */

box-sizing: border-box;

position: absolute;
width: 151px;
height: 149.7px;

border: 2px solid #000000;
transform: rotate(-150deg);


/* Line 28 */

position: absolute;
width: 105.32px;
height: 0.32px;

border: 1px solid #000000;
transform: rotate(-30deg);


/* Line 29 */

position: absolute;
width: 105.32px;
height: 0.32px;

border: 1px solid #000000;
transform: matrix(-0.87, -0.5, -0.5, 0.87, 0, 0);


/* Polygon 8 */

position: absolute;
width: 120px;
height: 120px;

background: #6FD6F7;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
transform: matrix(0.87, 0.5, 0.5, -0.87, 0, 0);


/* Polygon 9 */

box-sizing: border-box;

position: absolute;
width: 120px;
height: 120px;

border: 15px solid #EE9747;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
transform: matrix(0.87, 0.5, 0.5, -0.87, 0, 0);
